// // ================================================================ 
// // At minimum, create variables for fonts, breakpoints, and colors.
// // ================================================================ 

//layout ============================== /
$marginAuto: 0 auto;
$wrapperWidth: 300px;
$textAlignCenter: center;
$smallPadding: 1em;
$smallMargin: 1em;

// color ============================== /
$backgroundColor: black;
$wrapperColor: white;





























// 
// $base-color: black;
// $primary-color: #57E1C0;
// $secondary-color: #50DDFC;
// $tertiary-color: white;
// $bttn-success: #63CC82;
// $bttn-error: #E4757A;
// $bttn-warning: #FD7856;
// $bttn-info: #927BC1;
// $grid-3: #DEB2EE;
// $grid-4: #7FE6FD;
// $grid-5: #87D9A0;
// $grid-6: #40ABCA;
// $grid-7: #ED9FA3;
// $grid-8: #FD9F85;
// $grid-12: #81E8D1;
// $grid-text: #7C8385;


// // border ============================= /
// $border-left: .3em solid $primary-color;
// $border-radius: 5px;

// // font =============================== /
// $font-lighten: lighten($base-color, 50%);
// $font-size-25: 25px;
// $text-line: 1.5em;

// 
// $max-width: 1150px;
// $width-100: 100%;
// $height-100: 100%;
// $margin-top: 2em;
// $margin-top-logo: 1.6em;
// $top-padding: 1em;
// $padding-left: 1em;
// $align-left: left;
// $align-center: center;
// $align-justify: justify;
// $margin-bottom: .7em 1em;
// $margin-bottom-small: .25em;
// $margin-bottom-big: 3em;

// // links =============================== /
// $link-hover-color: white;
// $link-color: $font-lighten;
// $link-radius: 5px;
// $link-height: 3.25em;

// // flex ================================ /
// $flex-100: 1;

// // display block ======================= /
// $display-block: block;

// // button ======================= /
// $grid-height: 2em;
// $button-padding: .8em 1em;
// $button-padding-769: .8em 3em;
// $grid-padding: .8em;
// $grid-margin: 1.5em;
